<!-- Template for Step 4: Status of Email Send to Customer -->

<div>
	<div class="text-center">
		<p ng-show="CTRLStep4Controller.emailSentSuccessful"
			class="main-text status_step2">Die Email an den Kunden wurde
			erfolgreich versendet.</p>

		<p ng-hide="CTRLStep4Controller.emailSentSuccessful"
			class="main-text status_step2">Es wurde keine Email an den Kunden
			verschickt.</p>
	</div>

	<div class="wrapper_btn_again">
		<button ng-click="CTRLStep4Controller.goToStart()">Weitere
			Daten abfragen</button>
	</div>
</div>